## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Castro,BR,-24.7911,-50.0119,56.59,98,100,6.87,overcast clouds
1,1,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,72.61,85,26,3.89,scattered clouds
2,2,Pictou,CA,45.6834,-62.7153,58.44,88,100,23.02,overcast clouds
3,3,Punta Arenas,CL,-53.1500,-70.9167,35.71,87,0,6.91,clear sky
4,4,Pacific Grove,US,36.6177,-121.9166,61.52,86,9,3.00,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 60
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,72.61,85,26,3.89,scattered clouds
4,4,Pacific Grove,US,36.6177,-121.9166,61.52,86,9,3.00,clear sky
5,5,Ponta Do Sol,PT,32.6667,-17.1000,72.23,84,7,2.84,clear sky
6,6,Hermanus,ZA,-34.4187,19.2345,61.09,57,100,4.05,overcast clouds
7,7,Busselton,AU,-33.6500,115.3333,62.53,70,17,19.98,few clouds
8,8,Hilo,US,19.7297,-155.0900,74.25,96,28,3.00,scattered clouds
9,9,Faanui,PF,-16.4833,-151.7500,78.93,76,7,21.05,clear sky
10,10,Hobart,AU,-42.8794,147.3294,65.23,77,75,9.22,broken clouds
12,12,Betare Oya,CM,5.6000,14.0833,69.85,83,100,2.48,overcast clouds
13,13,Kaeo,NZ,-35.1000,173.7833,60.33,80,0,6.24,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                332
City                   332
Country                327
Lat                    332
Lng                    332
Max Temp               332
Humidity               332
Cloudiness             332
Wind Speed             332
Current Description    332
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna(subset = ['Country'])
clean_df.reset_index(drop=True)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,1,Sao Jose Da Coroa Grande,BR,-8.8978,-35.1478,72.61,85,26,3.89,scattered clouds
1,4,Pacific Grove,US,36.6177,-121.9166,61.52,86,9,3.00,clear sky
2,5,Ponta Do Sol,PT,32.6667,-17.1000,72.23,84,7,2.84,clear sky
3,6,Hermanus,ZA,-34.4187,19.2345,61.09,57,100,4.05,overcast clouds
4,7,Busselton,AU,-33.6500,115.3333,62.53,70,17,19.98,few clouds
...,...,...,...,...,...,...,...,...,...,...
322,683,Yulara,AU,-25.2406,130.9889,77.90,18,0,8.19,clear sky
323,687,Marshall,US,34.3834,-86.3333,74.30,89,0,0.00,clear sky
324,688,Carlyle,US,38.6103,-89.3726,77.43,77,0,1.99,clear sky
325,690,Prescott,US,34.5400,-112.4685,65.97,88,75,5.01,broken clouds
326,695,Diamantina,BR,-18.2494,-43.6003,61.88,88,100,1.52,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sao Jose Da Coroa Grande,BR,72.61,scattered clouds,-8.8978,-35.1478,
4,Pacific Grove,US,61.52,clear sky,36.6177,-121.9166,
5,Ponta Do Sol,PT,72.23,clear sky,32.6667,-17.1000,
6,Hermanus,ZA,61.09,overcast clouds,-34.4187,19.2345,
7,Busselton,AU,62.53,few clouds,-33.6500,115.3333,
8,Hilo,US,74.25,scattered clouds,19.7297,-155.0900,
9,Faanui,PF,78.93,clear sky,-16.4833,-151.7500,
10,Hobart,AU,65.23,broken clouds,-42.8794,147.3294,
12,Betare Oya,CM,69.85,overcast clouds,5.6000,14.0833,
13,Kaeo,NZ,60.33,clear sky,-35.1000,173.7833,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # 6c. Get the latitude and longitude from DataFrame.
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(subset = ['Hotel Name'])
clean_hotel_df.reset_index(drop=True)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sao Jose Da Coroa Grande,BR,72.61,scattered clouds,-8.8978,-35.1478,Crôa Mares Hotel
1,Pacific Grove,US,61.52,clear sky,36.6177,-121.9166,Lovers Point Inn
2,Ponta Do Sol,PT,72.23,clear sky,32.6667,-17.1000,Hotel do Campo
3,Hermanus,ZA,61.09,overcast clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
4,Busselton,AU,62.53,few clouds,-33.6500,115.3333,Observatory Guest House
...,...,...,...,...,...,...,...
322,Yulara,AU,77.90,clear sky,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
323,Marshall,US,74.30,clear sky,34.3834,-86.3333,Riverview Campground
324,Carlyle,US,77.43,clear sky,38.6103,-89.3726,Mariner's Village at Carlyle Lake
325,Prescott,US,65.97,broken clouds,34.5400,-112.4685,Prescott Resort & Conference Center
326,Diamantina,BR,61.88,overcast clouds,-18.2494,-43.6003,POUSADA OURO DE MINAS

In [10]:
# 8a. Create the output File (CSV)

city_data_df.to_csv('WeatherPy_Vacation.csv')
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv('WeatherPy_Vacation.csv', index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))